body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #b30000;
}

/* HEADER */
.header {
    background: #b30000;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

/* CONTAINER */
.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    border: 2px solid #b30000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(179,0,0,0.3);
}

/* INPUT */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #b30000;
    border-radius: 5px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #b30000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #ff1a1a;
}

/* DASHBOARD CARD */
.card {
    background: white;
    border: 2px solid #b30000;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}