<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="header">Register User</div>

<div class="container">

    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    
    <input type="text" id="fullname" placeholder="Full Name">
    
    <select id="role">
        <option value="patient">Patient</option>
        <option value="doctor">Doctor</option>
        <option value="admin">Admin</option>
    </select>

    <input type="email" id="email" placeholder="Email">
    <input type="text" id="phone" placeholder="Phone">

    <button onclick="register()">Register</button>

</div>

<script src="../static/script.js"></script>
</body>
</html>